<head>
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',
        filename='styles.css') }}">
</head>
<body>
    <div class="container">
    <h2>Main</h2>
        <form action="/telegram" method="post">
            <input type="submit" value="Start Telegram">
        </form>
        <form action="/deepseek" method="post">
            <input type="submit" value="deepseek chatbot via groq">
        </form>
        <form action="/llama" method="post">
            <input type="submit" value="LLAMA chatbot via groq">
        </form>
        <form action="/dbs" method="post">
            <input type="submit" value="Predict DBS price">
        </form>
        <form action="/stop_telegram" method="post">
            <input type="submit" value="Stop Telegram">
        </form>
        <form action="/user_logs" method="post">
            <input type="submit" value="user_logs">
        </form>
        <form action="/delete_logs" method="post">
            <input type="submit" value="delete_logs">
        </form>
        </form>
        <form action="/sepia" method="post">
            <input type="submit" value="sepia">
        </form>
    </div>
</body>
